footer{
    background-color: #272727;
    height: 220px;
    width: 100%;
    color: #ccc;
}
.foot-top{
    display: flex;
    justify-content: space-around;
    width: 1200px;
    margin: auto;
    padding: 44px 0 27px 0px;
}
.foot-top li{
    width: 190px;
    float: left;
}
.foot-top li a{
    display: block;
    font-size: 12px;
    color: #cccccc;
}
.foot-top li a:hover{
    color: #f4f4f4;
}
.foot-top li a:first-child {
    display: block;
    font-size: 13px;
    line-height: 13px;
    margin-bottom: 12px;
}
.foot-bot{
    border-top: 1px solid #424141;
}
.foot-bot-cen{
    width: 1200px;
    margin: auto;
    font-size: 12px;
    line-height: 46px;
}